<ui-container>
  <ui-grid>
    <ui-column [n]="16">
      <form class="ui form" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="name">イベント名</label>
          <input
            id="name"
            name="name"
            type="text"
            placeholder="イベント名"
            required
            [(ngModel)]="name"
          >
        </div>
        <div class="field">
          <label for="group">グループ</label>
          <select
            id="group"
            name="group"
            class="ui dropdown"
            required
            [(ngModel)]="group"
          >
            <option
              *ngFor="let v of my.groups; let i = index"
              [value]="i"
              [selected]="i === 0"
            >{{v}}</option>
          </select>
        </div>
        <ui-button (uiClick)="onClickCancelNewEvent()">キャンセル</ui-button>
        <ui-button [type]="'submit'" [primary]="true">追加</ui-button>
      </form>
    </ui-column>
  </ui-grid>
</ui-container>