:host {
  display: block;
}

.ch-answer-cell {
  cursor: pointer;
  font-size: 20px;
}

.ch-answer-cell {
  color: #DADADA;
  background: #F4F4F4;
}

.selected {
  color: white;
  background: #5BB123;
}
