<ch-header></ch-header>

<ui-container *ngIf="!screenState || screenState === 'Main'">
  <ui-grid>
    <ui-column [n]="16">
      <ui-button
        (uiClick)="onClickNewEvent()"
        [disabled]="!my"
      >新規イベント</ui-button>
    </ui-column>
    <ui-column [n]="16">
      <div *ngFor="let event of events">
        {{event.name}}
      </div>
    </ui-column>
  </ui-grid>
</ui-container>

<ch-new-event
  *ngIf="screenState === 'NewEvent'"
  [my]="my"
  (submit)="onSubmit()"
  (cancel)="onClickCancelNewEvent()"
></ch-new-event>